@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(-30%);
  }
  90% {
    transform: translateY(0.5rem);
  }
  100% {
    transform: translateY(0)
  }
}
