@use "sass:math";

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: math.div(10, 16) * 100%;
}

body {
  background-color: $color-secondary-light;
  box-sizing: border-box;
}
