body {
  font-size: $font-size-base;
  font-weight: 400;
  line-height: 1.7;
}

h1, h2, h3, h4, h5, h6, p, label, textarea, input {
  max-width: $font-max-width;
}

ul {
  list-style: none;
}

a {
  font-family: $font-base;
  text-decoration: none;
}

.font- {
  &bold {
    font-weight: 700;
  }
  &xs {
    font-size: $font-size-xs;
  }
  &sm {
    font-size: $font-size-sm;
  }
  &base {
    font-size: $font-size-base;
  }
  &md {
    font-size: $font-size-md;
  }

  &lg {
    font-size: $font-size-lg;
  }

  &xl {
    font-size: $font-size-xl;
  }

  &2xl {
    font-size: $font-size-2xl;
  }

  &3xl {
    font-size: $font-size-3xl;
  }

  &headline {
    font-family: $font-headline;
    font-weight: 700;
  }

  &base {
    font-family: $font-base;
  }

  &color-primary {
    color: $color-primary;
  }

  &color-secondary {
    color: $color-secondary;
  }

  &color-secondary--light {
    color: $color-secondary-light;
  }
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}
