$u-size-0: 0rem;
$u-size-1: 0.25rem;
$u-size-2: 0.5rem;
$u-size-3: 1rem;
$u-size-4: 1.5rem;
$u-size-5: 2rem;
$u-size-6: 2.5rem;
$u-size-7: 3rem;
$u-size-8: 3.5rem;

.u- {
  // alignment
  &align- {
    &center {
      align-items: center;
      align-content: center;
    }

    &start {
      align-items: flex-start;
      align-content: flex-start;
    }

    &end {
      align-items: flex-end;
      align-content: flex-end;
    }
  }

  &justify- {
    &around {
      justify-content: space-around;
    }

    &between {
      justify-content: space-between;
    }

    &center {
      justify-content: center;
    }

    &end {
      justify-content: flex-end;
    }

    &evenly {
      justify-content: space-evenly;
    }

    &start {
      justify-content: flex-start;
    }
  }

  // cursor
  &pointer {
    cursor: pointer;
  }

  &not-allowed {
    cursor: not-allowed;
  }

  // display
  &flex {
    display: flex;
    flex-direction: column;

    &-row {
      flex-direction: row;
    }
  }

  &grid {
    display: grid;
  }

  &hidden {
    @media screen and (max-width: 639px) {
      display: none;
    }

    &-sm {
      @media screen and (max-width: 767px) {
        display: none;
      }
    }

    &-md {
      @media screen and (max-width: 64em) {
        display: none;
      }
    }
  }

  // margin
  &m {
    &-auto {
      margin-left: auto;
      margin-right: auto;
    }

    &-0 {
      margin: $u-size-0;
    }

    &-1 {
      margin: $u-size-1;
    }

    &-2 {
      margin: $u-size-2;
    }

    &-3 {
      margin: $u-size-3;
    }

    &-4 {
      margin: $u-size-4;
    }

    &-5 {
      margin: $u-size-5;
    }

    &-6 {
      margin: $u-size-6;
    }

    &-7 {
      margin: $u-size-7;
    }

    &-8 {
      margin: $u-size-8;
    }

    &x- {
      &0 {
        margin-left: $u-size-0;
        margin-right: $u-size-0;
      }

      &1 {
        margin-left: $u-size-1;
        margin-right: $u-size-1;
      }

      &2 {
        margin-left: $u-size-2;
        margin-right: $u-size-2;
      }

      &3 {
        margin-left: $u-size-3;
        margin-right: $u-size-3;
      }

      &4 {
        margin-left: $u-size-4;
        margin-right: $u-size-4;
      }

      &5 {
        margin-left: $u-size-5;
        margin-right: $u-size-5;
      }

      &6 {
        margin-left: $u-size-6;
        margin-right: $u-size-6;
      }

      &7 {
        margin-left: $u-size-7;
        margin-right: $u-size-7;
      }

      &8 {
        margin-left: $u-size-8;
        margin-right: $u-size-8;
      }
    }

    &y- {
      &0 {
        margin-bottom: $u-size-0;
        margin-top: $u-size-0;
      }

      &1 {
        margin-bottom: $u-size-1;
        margin-top: $u-size-1;
      }

      &2 {
        margin-bottom: $u-size-2;
        margin-top: $u-size-2;
      }

      &3 {
        margin-bottom: $u-size-3;
        margin-top: $u-size-3;
      }

      &4 {
        margin-bottom: $u-size-4;
        margin-top: $u-size-4;
      }

      &5 {
        margin-bottom: $u-size-5;
        margin-top: $u-size-5;
      }

      &6 {
        margin-bottom: $u-size-6;
        margin-top: $u-size-6;
      }

      &7 {
        margin-bottom: $u-size-7;
        margin-top: $u-size-7;
      }

      &8 {
        margin-bottom: $u-size-8;
        margin-top: $u-size-8;
      }
    }
    
    &t- {
      &0 {
        margin-top: $u-size-0;
      }

      &1 {
        margin-top: $u-size-1;
      }

      &2 {
        margin-top: $u-size-2;
      }

      &3 {
        margin-top: $u-size-3;
      }

      &4 {
        margin-top: $u-size-4;
      }

      &5 {
        margin-top: $u-size-5;
      }

      &6 {
        margin-top: $u-size-6;
      }

      &7 {
        margin-top: $u-size-7;
      }

      &8 {
        margin-top: $u-size-8;
      }
    }

    &b- {
      &0 {
        margin-bottom: $u-size-0;
      }

      &1 {
        margin-bottom: $u-size-1;
      }

      &2 {
        margin-bottom: $u-size-2;
      }

      &3 {
        margin-bottom: $u-size-3;
      }

      &4 {
        margin-bottom: $u-size-4;
      }

      &5 {
        margin-bottom: $u-size-5;
      }

      &6 {
        margin-bottom: $u-size-5;
      }

      &7 {
        margin-bottom: $u-size-5;
      }

      &8 {
        margin-bottom: $u-size-5;
      }
    }

    &l- {
      &0 {
        margin-left: $u-size-0;
      }

      &1 {
        margin-left: $u-size-1;
      }

      &2 {
        margin-left: $u-size-2;
      }

      &3 {
        margin-left: $u-size-3;
      }

      &4 {
        margin-left: $u-size-4;
      }

      &5 {
        margin-left: $u-size-5;
      }

      &6 {
        margin-left: $u-size-6;
      }

      &7 {
        margin-left: $u-size-7;
      }

      &8 {
        margin-left: $u-size-8;
      }
    }

    &r- {
      &0 {
        margin-right: $u-size-0;
      }

      &1 {
        margin-right: $u-size-1;
      }

      &2 {
        margin-right: $u-size-2;
      }

      &3 {
        margin-right: $u-size-3;
      }

      &4 {
        margin-right: $u-size-4;
      }

      &5 {
        margin-right: $u-size-5;
      }

      &6 {
        margin-right: $u-size-6;
      }

      &7 {
        margin-right: $u-size-7;
      }

      &8 {
        margin-right: $u-size-8;
      }
    }
  }

  // padding
  &p {
    &-1 {
      padding: $u-size-0;
    }

    &-1 {
      padding: $u-size-1;
    }

    &-2 {
      padding: $u-size-2;
    }

    &-3 {
      padding: $u-size-3;
    }

    &-4 {
      padding: $u-size-4;
    }

    &-5 {
      padding: $u-size-5;
    }

    &-6 {
      padding: $u-size-6;
    }

    &-7 {
      padding: $u-size-7;
    }

    &-8 {
      padding: $u-size-8;
    }

    &x- {
      &0 {
        padding-left: $u-size-0;
        padding-right: $u-size-0;
      }

      &1 {
        padding-left: $u-size-1;
        padding-right: $u-size-1;
      }

      &2 {
        padding-left: $u-size-2;
        padding-right: $u-size-2;
      }

      &3 {
        padding-left: $u-size-3;
        padding-right: $u-size-3;
      }

      &4 {
        padding-left: $u-size-4;
        padding-right: $u-size-4;
      }

      &5 {
        padding-left: $u-size-5;
        padding-right: $u-size-5;
      }

      &6 {
        padding-left: $u-size-6;
        padding-right: $u-size-6;
      }

      &7 {
        padding-left: $u-size-7;
        padding-right: $u-size-7;
      }

      &8 {
        padding-left: $u-size-8;
        padding-right: $u-size-8;
      }
    }

    &y- {
      &0 {
        padding-bottom: $u-size-0;
        padding-top: $u-size-0;
      }

      &1 {
        padding-bottom: $u-size-1;
        padding-top: $u-size-1;
      }

      &2 {
        padding-bottom: $u-size-2;
        padding-top: $u-size-2;
      }

      &3 {
        padding-bottom: $u-size-3;
        padding-top: $u-size-3;
      }

      &4 {
        padding-bottom: $u-size-4;
        padding-top: $u-size-4;
      }

      &5 {
        padding-bottom: $u-size-5;
        padding-top: $u-size-5;
      }

      &6 {
        padding-bottom: $u-size-6;
        padding-top: $u-size-6;
      }

      &7 {
        padding-bottom: $u-size-7;
        padding-top: $u-size-7;
      }

      &8 {
        padding-bottom: $u-size-8;
        padding-top: $u-size-8;
      }
    }

    &t- {
      &0 {
        padding-top: $u-size-0;
      }

      &1 {
        padding-top: $u-size-1;
      }

      &2 {
        padding-top: $u-size-2;
      }

      &3 {
        padding-top: $u-size-3;
      }

      &4 {
        padding-top: $u-size-4;
      }

      &5 {
        padding-top: $u-size-5;
      }

      &6 {
        padding-top: $u-size-6;
      }

      &7 {
        padding-top: $u-size-7;
      }

      &8 {
        padding-top: $u-size-8;
      }
    }

    &b- {
      &0 {
        padding-bottom: $u-size-0;
      }

      &1 {
        padding-bottom: $u-size-1;
      }

      &2 {
        padding-bottom: $u-size-2;
      }

      &3 {
        padding-bottom: $u-size-3;
      }

      &4 {
        padding-bottom: $u-size-4;
      }

      &5 {
        padding-bottom: $u-size-5;
      }

      &6 {
        padding-bottom: $u-size-6;
      }

      &7 {
        padding-bottom: $u-size-7;
      }

      &8 {
        padding-bottom: $u-size-8;
      }
    }

    &l- {
      &0 {
        padding-left: $u-size-0;
      }

      &1 {
        padding-left: $u-size-1;
      }

      &2 {
        padding-left: $u-size-2;
      }

      &3 {
        padding-left: $u-size-3;
      }

      &4 {
        padding-left: $u-size-4;
      }

      &5 {
        padding-left: $u-size-5;
      }

      &6 {
        padding-left: $u-size-6;
      }

      &7 {
        padding-left: $u-size-7;
      }

      &8 {
        padding-left: $u-size-8;
      }
    }

    &r- {
      &0 {
        padding-right: $u-size-0;
      }

      &1 {
        padding-right: $u-size-1;
      }

      &2 {
        padding-right: $u-size-2;
      }

      &3 {
        padding-right: $u-size-3;
      }

      &4 {
        padding-right: $u-size-4;
      }

      &5 {
        padding-right: $u-size-5;
      }

      &6 {
        padding-right: $u-size-6;
      }

      &7 {
        padding-right: $u-size-7;
      }

      &8 {
        padding-right: $u-size-8;
      }
    }
  }

  // position
  &absolute {
    position: absolute;
  }

  &fixed {
    position: fixed;
  }

  &relative {
    position: relative;
  }

  &sticky {
    position: sticky;
  }

  &bottom- {
    &0 {
      bottom: 0;
    }
  }

  &left- {
    &0 {
      left: 0;
    }
  }

  &right- {
    &0 {
      right: 0;
    }
  }

  &top- {
    &0 {
      top: 0;
    }
  }

  // print {
  &print- {
    &none {
      @media print {
        display: none;
      }
    }
  }

  // select
  &select- {
    &none {
      user-select: none;
    }
  }

  // shadows
  &shadow- {
    &sm {
      box-shadow: $shadow-sm;
    }

    &lg {
      box-shadow: $shadow-lg;
    }
  }

  // width
  &w-100 {
    width: 100%;
  }

}
