// COLORS

$color-primary: #FF914D;
$color-secondary: #61ABD1;
$color-secondary-light: #A1BEE8;
$color-secondary-dark: #386375;
$color-good: #48946e;

// FONTS

$font-headline: Lora, serif;
$font-base: 'Noto Sans Display', -apple-system, Arial, sans-serif;
$font-max-width: 65ch;
$font-size-base: 1.6rem;
$font-size-xs: 1rem;
$font-size-sm: 1.25rem;
$font-size-md: 2rem;
$font-size-lg: 2.5rem;
$font-size-xl: 3rem;
$font-size-2xl: 3.5rem;
$font-size-3xl: 4.5rem;

// SHADOWS
$shadow-sm: 0 1px 1px rgba(56, 99, 117, 0.2),
0 2px 2px rgba(56, 99, 117, 0.12),
0 4px 4px rgba(56, 99, 117, 0.12),
0 8px 8px rgba(97, 171, 209, 0.12);

$shadow-md: 0 1px 1px rgba(56, 99, 117, 0.2),
  0 2px 2px rgba(56, 99, 117, 0.12),
  0 4px 4px rgba(56, 99, 117, 0.12),
  0 8px 8px rgba(97, 171, 209, 0.12),
  0 16px 16px rgba(97, 171, 209, 0.12);

$shadow-lg: 0 1px 1px rgba(56, 99, 117, 0.2),
  0 2px 2px rgba(56, 99, 117, 0.12),
  0 4px 4px rgba(56, 99, 117, 0.12),
  0 8px 8px rgba(97, 171, 209, 0.12),
  0 16px 16px rgba(97, 171, 209, 0.12),
  0 32px 32px rgba(97, 171, 209, 0.09);

// PRINT
$unit: 1in;
$pageHeight: 7.75;
$pageWidth: 10.5;
