@import url("https://fonts.googleapis.com/css2?family=Lora&family=Noto+Sans+Display&display=swap");
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(-30%);
  }
  90% {
    transform: translateY(0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #A1BEE8;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
}

h1, h2, h3, h4, h5, h6, p, label, textarea, input {
  max-width: 65ch;
}

ul {
  list-style: none;
}

a {
  font-family: "Noto Sans Display", -apple-system, Arial, sans-serif;
  text-decoration: none;
}

.font-bold {
  font-weight: 700;
}
.font-xs {
  font-size: 1rem;
}
.font-sm {
  font-size: 1.25rem;
}
.font-base {
  font-size: 1.6rem;
}
.font-md {
  font-size: 2rem;
}
.font-lg {
  font-size: 2.5rem;
}
.font-xl {
  font-size: 3rem;
}
.font-2xl {
  font-size: 3.5rem;
}
.font-3xl {
  font-size: 4.5rem;
}
.font-headline {
  font-family: Lora, serif;
  font-weight: 700;
}
.font-base {
  font-family: "Noto Sans Display", -apple-system, Arial, sans-serif;
}
.font-color-primary {
  color: #FF914D;
}
.font-color-secondary {
  color: #61ABD1;
}
.font-color-secondary--light {
  color: #A1BEE8;
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.u-align-center {
  align-items: center;
  align-content: center;
}
.u-align-start {
  align-items: flex-start;
  align-content: flex-start;
}
.u-align-end {
  align-items: flex-end;
  align-content: flex-end;
}
.u-justify-around {
  justify-content: space-around;
}
.u-justify-between {
  justify-content: space-between;
}
.u-justify-center {
  justify-content: center;
}
.u-justify-end {
  justify-content: flex-end;
}
.u-justify-evenly {
  justify-content: space-evenly;
}
.u-justify-start {
  justify-content: flex-start;
}
.u-pointer {
  cursor: pointer;
}
.u-not-allowed {
  cursor: not-allowed;
}
.u-flex {
  display: flex;
  flex-direction: column;
}
.u-flex-row {
  flex-direction: row;
}
.u-grid {
  display: grid;
}
@media screen and (max-width: 639px) {
  .u-hidden {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .u-hidden-sm {
    display: none;
  }
}
@media screen and (max-width: 64em) {
  .u-hidden-md {
    display: none;
  }
}
.u-m-auto {
  margin-left: auto;
  margin-right: auto;
}
.u-m-0 {
  margin: 0rem;
}
.u-m-1 {
  margin: 0.25rem;
}
.u-m-2 {
  margin: 0.5rem;
}
.u-m-3 {
  margin: 1rem;
}
.u-m-4 {
  margin: 1.5rem;
}
.u-m-5 {
  margin: 2rem;
}
.u-m-6 {
  margin: 2.5rem;
}
.u-m-7 {
  margin: 3rem;
}
.u-m-8 {
  margin: 3.5rem;
}
.u-mx-0 {
  margin-left: 0rem;
  margin-right: 0rem;
}
.u-mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.u-mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.u-mx-3 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.u-mx-4 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.u-mx-5 {
  margin-left: 2rem;
  margin-right: 2rem;
}
.u-mx-6 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}
.u-mx-7 {
  margin-left: 3rem;
  margin-right: 3rem;
}
.u-mx-8 {
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}
.u-my-0 {
  margin-bottom: 0rem;
  margin-top: 0rem;
}
.u-my-1 {
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
}
.u-my-2 {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.u-my-3 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.u-my-4 {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
.u-my-5 {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.u-my-6 {
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
}
.u-my-7 {
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.u-my-8 {
  margin-bottom: 3.5rem;
  margin-top: 3.5rem;
}
.u-mt-0 {
  margin-top: 0rem;
}
.u-mt-1 {
  margin-top: 0.25rem;
}
.u-mt-2 {
  margin-top: 0.5rem;
}
.u-mt-3 {
  margin-top: 1rem;
}
.u-mt-4 {
  margin-top: 1.5rem;
}
.u-mt-5 {
  margin-top: 2rem;
}
.u-mt-6 {
  margin-top: 2.5rem;
}
.u-mt-7 {
  margin-top: 3rem;
}
.u-mt-8 {
  margin-top: 3.5rem;
}
.u-mb-0 {
  margin-bottom: 0rem;
}
.u-mb-1 {
  margin-bottom: 0.25rem;
}
.u-mb-2 {
  margin-bottom: 0.5rem;
}
.u-mb-3 {
  margin-bottom: 1rem;
}
.u-mb-4 {
  margin-bottom: 1.5rem;
}
.u-mb-5 {
  margin-bottom: 2rem;
}
.u-mb-6 {
  margin-bottom: 2rem;
}
.u-mb-7 {
  margin-bottom: 2rem;
}
.u-mb-8 {
  margin-bottom: 2rem;
}
.u-ml-0 {
  margin-left: 0rem;
}
.u-ml-1 {
  margin-left: 0.25rem;
}
.u-ml-2 {
  margin-left: 0.5rem;
}
.u-ml-3 {
  margin-left: 1rem;
}
.u-ml-4 {
  margin-left: 1.5rem;
}
.u-ml-5 {
  margin-left: 2rem;
}
.u-ml-6 {
  margin-left: 2.5rem;
}
.u-ml-7 {
  margin-left: 3rem;
}
.u-ml-8 {
  margin-left: 3.5rem;
}
.u-mr-0 {
  margin-right: 0rem;
}
.u-mr-1 {
  margin-right: 0.25rem;
}
.u-mr-2 {
  margin-right: 0.5rem;
}
.u-mr-3 {
  margin-right: 1rem;
}
.u-mr-4 {
  margin-right: 1.5rem;
}
.u-mr-5 {
  margin-right: 2rem;
}
.u-mr-6 {
  margin-right: 2.5rem;
}
.u-mr-7 {
  margin-right: 3rem;
}
.u-mr-8 {
  margin-right: 3.5rem;
}
.u-p-1 {
  padding: 0rem;
}
.u-p-1 {
  padding: 0.25rem;
}
.u-p-2 {
  padding: 0.5rem;
}
.u-p-3 {
  padding: 1rem;
}
.u-p-4 {
  padding: 1.5rem;
}
.u-p-5 {
  padding: 2rem;
}
.u-p-6 {
  padding: 2.5rem;
}
.u-p-7 {
  padding: 3rem;
}
.u-p-8 {
  padding: 3.5rem;
}
.u-px-0 {
  padding-left: 0rem;
  padding-right: 0rem;
}
.u-px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.u-px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.u-px-3 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.u-px-4 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.u-px-5 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.u-px-6 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.u-px-7 {
  padding-left: 3rem;
  padding-right: 3rem;
}
.u-px-8 {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}
.u-py-0 {
  padding-bottom: 0rem;
  padding-top: 0rem;
}
.u-py-1 {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}
.u-py-2 {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.u-py-3 {
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.u-py-4 {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}
.u-py-5 {
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.u-py-6 {
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;
}
.u-py-7 {
  padding-bottom: 3rem;
  padding-top: 3rem;
}
.u-py-8 {
  padding-bottom: 3.5rem;
  padding-top: 3.5rem;
}
.u-pt-0 {
  padding-top: 0rem;
}
.u-pt-1 {
  padding-top: 0.25rem;
}
.u-pt-2 {
  padding-top: 0.5rem;
}
.u-pt-3 {
  padding-top: 1rem;
}
.u-pt-4 {
  padding-top: 1.5rem;
}
.u-pt-5 {
  padding-top: 2rem;
}
.u-pt-6 {
  padding-top: 2.5rem;
}
.u-pt-7 {
  padding-top: 3rem;
}
.u-pt-8 {
  padding-top: 3.5rem;
}
.u-pb-0 {
  padding-bottom: 0rem;
}
.u-pb-1 {
  padding-bottom: 0.25rem;
}
.u-pb-2 {
  padding-bottom: 0.5rem;
}
.u-pb-3 {
  padding-bottom: 1rem;
}
.u-pb-4 {
  padding-bottom: 1.5rem;
}
.u-pb-5 {
  padding-bottom: 2rem;
}
.u-pb-6 {
  padding-bottom: 2.5rem;
}
.u-pb-7 {
  padding-bottom: 3rem;
}
.u-pb-8 {
  padding-bottom: 3.5rem;
}
.u-pl-0 {
  padding-left: 0rem;
}
.u-pl-1 {
  padding-left: 0.25rem;
}
.u-pl-2 {
  padding-left: 0.5rem;
}
.u-pl-3 {
  padding-left: 1rem;
}
.u-pl-4 {
  padding-left: 1.5rem;
}
.u-pl-5 {
  padding-left: 2rem;
}
.u-pl-6 {
  padding-left: 2.5rem;
}
.u-pl-7 {
  padding-left: 3rem;
}
.u-pl-8 {
  padding-left: 3.5rem;
}
.u-pr-0 {
  padding-right: 0rem;
}
.u-pr-1 {
  padding-right: 0.25rem;
}
.u-pr-2 {
  padding-right: 0.5rem;
}
.u-pr-3 {
  padding-right: 1rem;
}
.u-pr-4 {
  padding-right: 1.5rem;
}
.u-pr-5 {
  padding-right: 2rem;
}
.u-pr-6 {
  padding-right: 2.5rem;
}
.u-pr-7 {
  padding-right: 3rem;
}
.u-pr-8 {
  padding-right: 3.5rem;
}
.u-absolute {
  position: absolute;
}
.u-fixed {
  position: fixed;
}
.u-relative {
  position: relative;
}
.u-sticky {
  position: sticky;
}
.u-bottom-0 {
  bottom: 0;
}
.u-left-0 {
  left: 0;
}
.u-right-0 {
  right: 0;
}
.u-top-0 {
  top: 0;
}
@media print {
  .u-print-none {
    display: none;
  }
}
.u-select-none {
  user-select: none;
}
.u-shadow-sm {
  box-shadow: 0 1px 1px rgba(56, 99, 117, 0.2), 0 2px 2px rgba(56, 99, 117, 0.12), 0 4px 4px rgba(56, 99, 117, 0.12), 0 8px 8px rgba(97, 171, 209, 0.12);
}
.u-shadow-lg {
  box-shadow: 0 1px 1px rgba(56, 99, 117, 0.2), 0 2px 2px rgba(56, 99, 117, 0.12), 0 4px 4px rgba(56, 99, 117, 0.12), 0 8px 8px rgba(97, 171, 209, 0.12), 0 16px 16px rgba(97, 171, 209, 0.12), 0 32px 32px rgba(97, 171, 209, 0.09);
}
.u-w-100 {
  width: 100%;
}

.announcement__item {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 1.6rem;
}
.announcement__item--date {
  background-color: #386375;
  color: white;
  display: inline-block;
  max-width: 15rem;
  padding: 0.25rem;
  text-align: center;
}

.badge {
  background-color: #48946e;
  border-radius: 100%;
  color: white;
  height: 2rem;
  padding: 0;
  width: 2rem;
}

.button {
  background-color: #FF914D;
  border: none;
  color: white;
  width: 20rem;
}
.button:hover {
  background-color: #e65800;
  cursor: pointer;
}
.button__print {
  border: none;
  background-color: #61ABD1;
  color: white;
}
.button__print:hover {
  background-color: #2e789e;
}

@media print {
  .page__print {
    height: 7.75in;
    page-break-after: always;
    width: 10.5in;
  }
}

.container {
  max-width: 90rem;
}
@media print {
  .container {
    max-width: unset;
    width: 10.5in;
  }
}

.calendar {
  display: grid;
}
@media screen and (min-width: 900px) {
  .calendar {
    grid-template-columns: repeat(7, 1fr);
  }
}
@media print {
  .calendar {
    box-shadow: unset !important;
    grid-template-columns: repeat(7, 1fr);
  }
}
@media print {
  .calendar__month {
    margin-bottom: 0.5rem;
    padding: 0;
  }
}
.calendar__month h3 {
  margin-top: 2rem;
  padding: 1rem unset;
}
@media print {
  .calendar__month h3 {
    margin-top: 0;
    padding: 0;
  }
}
.calendar__box {
  background-color: #fff;
  border: 1px solid #61ABD1;
  height: 15rem;
  margin: 0;
}
@media print {
  .calendar__box {
    height: 1.15in;
  }
}
@media print {
  .calendar__box--date {
    font-size: 1.25rem;
  }
}
@media print {
  .calendar__box--task {
    font-size: 1.6rem;
  }
}

.date {
  padding: 1rem;
  width: 30rem;
}

input[type=checkbox] {
  -webkit-appearance: none;
  appearance: none;
  background: #fff;
  border: 1px solid #333;
  border-radius: 100%;
  display: inline-block;
  height: 2rem;
  position: relative;
  vertical-align: text-bottom;
  width: 2rem;
}
input[type=checkbox][disabled], input[type=checkbox][aria-disabled=true] {
  opacity: 0.4;
}
input[type=checkbox]::before {
  bottom: 0;
  content: "";
  left: 0;
  margin: auto;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}
input[type=checkbox]:focus {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

input[type=checkbox] {
  border-radius: 10%;
}
input[type=checkbox]:indeterminate::before, input[type=checkbox][aria-checked=mixed]::before {
  border: 2px solid #222;
  height: 0;
  width: 40%;
}
input[type=checkbox]:checked {
  background-color: #61ABD1;
}
input[type=checkbox]:checked::before {
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  height: 50%;
  transform: rotate(45deg) translateY(-15%) translateX(-20%);
  width: 30%;
}

.footer__main {
  bottom: 0;
  width: 100%;
}

@media print {
  .header__main {
    box-shadow: unset !important;
  }
}
.header__main--title {
  background-color: white;
  font-size: 4.5rem;
  max-width: 65ch;
}
@media screen and (min-width: 576px) {
  .header__main--title {
    width: 70%;
  }
}
@media print {
  .header__main--title {
    box-shadow: unset !important;
    font-size: 2.5rem;
    width: 100%;
  }
}

.randomizer {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 30rem;
}

main {
  width: 100%;
}

.task__item {
  text-align: center;
  max-width: 50rem;
  width: 80%;
}

.card {
  background-color: white;
  box-shadow: 0 1px 1px rgba(56, 99, 117, 0.2), 0 2px 2px rgba(56, 99, 117, 0.12), 0 4px 4px rgba(56, 99, 117, 0.12), 0 8px 8px rgba(97, 171, 209, 0.12), 0 16px 16px rgba(97, 171, 209, 0.12), 0 32px 32px rgba(97, 171, 209, 0.09);
}

.modal {
  border: 2px solid #386375;
  left: 50%;
  top: 15%;
  transform: translateY(-50%) translateX(-50%);
  width: clamp(30rem, 65rem, 80%);
}
.modal-inner {
  box-shadow: 0 1px 1px rgba(56, 99, 117, 0.2), 0 2px 2px rgba(56, 99, 117, 0.12), 0 4px 4px rgba(56, 99, 117, 0.12), 0 8px 8px rgba(97, 171, 209, 0.12), 0 16px 16px rgba(97, 171, 209, 0.12), 0 32px 32px rgba(97, 171, 209, 0.09);
  background-color: white;
  padding: 1rem;
  z-index: 1000;
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 1.8rem;
}

.material-icons.md-24 {
  font-size: 2.4rem;
}

.material-icons.md-36 {
  font-size: 3.6rem;
}

.material-icons.md-48 {
  font-size: 4.8rem;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: white;
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

/*# sourceMappingURL=main.css.map */
