.announcement {
  &__item {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 1.6rem;
    &--date {
      background-color: $color-secondary-dark;
      color: white;
      display: inline-block;
      max-width: 15rem;
      padding: $u-size-1;
      text-align: center;
    }
  }
}
