.button {
  background-color: $color-primary;
  border: none;
  color: white;
  width: clamp(15rem, 20rem, 25rem);
  &:hover {
    background-color: darken($color-primary, 20%);
    cursor: pointer;
  }
  &__print {
    border: none;
    background-color: $color-secondary;
    color: white;
    &:hover {
      background-color: darken($color-secondary, 20%);
    }
  }
}
