.page__print {
  @media print {
    height: $pageHeight * $unit;
    page-break-after: always;
    width: $pageWidth * $unit;
  }
}

.container {
  max-width: 90rem;
  @media print {
    max-width: unset;
    width: $pageWidth * $unit;
  }
}

.calendar {
  display: grid;
  @media screen and (min-width: 900px) {
    grid-template-columns: repeat(7, 1fr);
  }
  @media print {
    box-shadow: unset !important;
    grid-template-columns: repeat(7, 1fr);
  }
  &__month {
    @media print {
      margin-bottom: 0.5rem;
      padding: 0;
    }
    & h3 {
      margin-top: $u-size-5;
      padding: $u-size-3 unset;
      @media print {
        margin-top: 0;
        padding: 0;
      }
    }
  }
  &__box {
    background-color: #fff;
    border: 1px solid $color-secondary;
    height: 15rem;
    margin: 0;
    @media print {
      height: 1.15in;
    }
    &--date {
      @media print {
        font-size: $font-size-sm;
      }
    }
    &--task {
      @media print {
        font-size: $font-size-base;
      }
    }
  }
}
