input[type=checkbox] {
  -webkit-appearance: none;
  appearance: none;
  background: #fff;
  border: 1px solid #333;
  border-radius: 100%;
  display: inline-block;
  height: 2rem;
  position: relative;
  vertical-align: text-bottom;
  width: 2rem;

  &[disabled],
  &[aria-disabled=true] {
    opacity: 0.4;
  }

  &::before {
    bottom: 0;
    content: '';
    left: 0;
    margin: auto;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
  }

  &:focus {
    outline: 2px solid #fff;
    outline-offset: 2px;
  }
}

input[type=checkbox] {
  border-radius: 10%;

  &:indeterminate::before,
  &[aria-checked=mixed]::before {
    border: 2px solid #222;
    height: 0;
    width: 40%;
  }


  &:checked {
    background-color: $color-secondary;
    &::before {
      border-bottom: 3px solid #fff;
      border-right: 3px solid #fff;
      height: 50%;
      transform: rotate(45deg) translateY(-15%) translateX(-20%);
      width: 30%;
    }
  }
}
