.header__main {
  @media print {
    box-shadow: unset !important;
  }
  &--title {
    background-color: white;
    font-size: $font-size-3xl;
    max-width: $font-max-width;
    @media screen and (min-width: 576px) {
      width: 70%;
    }
    @media print {
      box-shadow: unset !important;
      font-size: $font-size-lg;
      width: 100%;
    }
  }
}
