.modal {
  border: 2px solid $color-secondary-dark;
  left: 50%;
  top: 15%;
  transform: translateY(-50%) translateX(-50%);
  width: clamp(30rem, 65rem, 80%);
  &-inner {
    @include shadow-lg;
    background-color: white;
    padding: $u-size-3;
    z-index: 1000;
  }
}
